<!DOCTYPE html>
<html>
<head>
<style>
    body {
background-image: url("img/background_forest_gray.jfif");
}
</style>
<link rel="stylesheet" href="css/style.css">
<title>OOP2 Schema</title>
</head>
<body>

    <h1 id="font" style="margin-top: 3px" ;>Schema MJU20</h1>
    <!-- <span id='date-time'></span> -->   
    <p id="font" style="font-size: 175%;"><%= dateOut%></p>
    <p id="font" style="font-size: 140%;"><%= placeOut%></p>
    <form action="" method="post">
        <button id="button1" name="left" value="true" style="left: 43%; top: 9.5%;"><</button>
    </form>
    <form action="" method="post">
        <button id="button2" name="right" value="true" style="left: 885px; top: 74px;">></button>
    </form>
    
    <!--Sidenav w/ script-->
    <div style="width: 2.5%; position: absolute; top: 2.5%;">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="http://localhost:3000/login">Logga In</a>
        <a href="http://localhost:3000/register">Registera Konto</a>
        <a href="http://localhost:3000/">Dagsschema</a>
        <a href="http://localhost:3000/vecka">Veckoschema</a>
        <a href="http://localhost:3000/add_schedule">Lägg till schema</a>
      </div>
      <span style="font-size:30px;cursor:pointer; color: burlywood;" onclick="openNav()">&#9776;</span>
    </div>
      
      <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }
      
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
      </script>

    <!-- <button name="left" value="true">Previous</button>
    <button name="right" value="true">Next</button> -->
    <div style="height: 160px;"></div>
    <div></div>
    <!--Time Blocks-->
    <div id="wrapper2" onshow="">
        <div id="lesson1" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: burlywood; font-size: 150%;"> 09:00 - 12:00</div>
        <div id="lunch" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: burlywood; font-size: 150%;"> 12:00 - 13:00 </div>
        <div id="lesson2" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: burlywood; font-size: 150%;"> 13:00 - 16:30 </div>
    </div>

    
    <!--Lesson Blocks-->
    <div id="wrapper">
        <div id="div1" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 150%;"> <%= amOut%>
            
        </div>
        <div id="div2" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 150%;"> Lunch 
            
        </div>
        <div id="div3" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 150%;"> <%= pmOut%>

        </div>
    </div>

    
    
    <!-- Comments block -->
    <div>
        <form name="form1" action="" method="post" id="userInput" style="width: 600px;" >
            <input type="text" id="comment1" placeholder="Kommentar" name="commentInput" style="margin-right: 200px;">
        </form>
    </div>
    
    
    </div>
        <% var i = 0%>
        <% if (comments.length > 0 ) { %>
            
            <% comments.forEach(comment => { %>
                <% if (i % 2 == 0){%>
                    <div class="container"> 
                        <span class="time-left"><%= comment.createdAt.toLocaleString() %></span>
                            <p id ="font"><%=comment.comment %> </p>
                        <span class="time-right"><%= comment.firstname %>&nbsp; <%= comment.lastname %></span>
                        
                    </div> 
                <% } else { %>
                    <div class="container darker"> 
                        <span class="time-left"><%= comment.createdAt.toLocaleString() %></span>
                            <p id ="font"><%=comment.comment %> </p>
                        <span class="time-right"><%= comment.firstname %>&nbsp; <%= comment.lastname %></span>
                    </div> 
                <% } %>
                <% i ++ %>
                
            <% }) %>
        <% } %>
    </div>

    <!--https://stackoverflow.com/questions/28603658/can-a-js-script-get-a-variable-written-in-a-ejs-context-page-within-the-same-fil-->

    <h2 style="display:none;" id="uid"><%=dateOut%></h2>
    <script type="text/javascript">
            var dateShowing = document.getElementById('uid').innerHTML; 
            // alert(x);  // now JS variable 'x' has the uid that's passed from the node backend.
            addGreenBorder();
            function addGreenBorder() {
                var today = new Date();
                if(dateShowing == today.toLocaleDateString()){
                    var time = today.getHours();
                    var timemin = today.getMinutes();
                    var hourandmin = time * 100 + timemin;
                    var element1 = document.getElementById('div1');
                    var element2 = document.getElementById('div2');
                    var element3 = document.getElementById('div3');
                    if (time >= 9 && time < 12) {
                        //make greenborder on div1
                        element1.style.border = "6px solid green";
                        element1.style.animation = "pulse 4s infinite";
                        //make normal border colour on div2 and div3
                        element2.style.border = "0px dotted red";
                        element3.style.border = "0px dotted red";
                    }
                    else if (time >= 12 && time < 13) {
                        //make greenborder on div2
                        element2.style.border = "6px solid green";
                        element2.style.animation = "pulse 4s infinite";
                        //make normal border color on div1 and div3
                        element1.style.animation = "";
                        element1.style.border = "0px dotted red";
                        element3.style.border = "0px dotted red";

                    }
                    else if (time >= 13 && hourandmin < 1630) {
                        //make greenborder on div3
                        element3.style.border = "6px solid green";
                        element3.style.animation = "pulse 4s infinite";
                        //make normal border colour on div1 och div2
                        element1.style.animation = "";
                        element2.style.animation = "";
                        element2.style.border = "0px dotted red";
                        element1.style.border = "0px dotted red";
                    }
                    else {
                        //make all normal borders
                        element1.style.border = "0px dotted red";
                        element2.style.border = "0px dotted red";
                        element3.style.borde = "0px dotted red";
                        //alternativt ta bort alla divs och skriv bara ut när nästa lektion börjar
                    }
                    }
                
                
            }
    </script>
    <script>
        document.addEventListener('keydown', function(event) {
    if(event.keyCode == 37) {
        document.getElementById("button1").click();
    }
    else if(event.keyCode == 39) {
        document.getElementById("button2").click();
    }
    });
    </script>

    <!-- <script>
    document.addEventListener('keydown', function(event) {
        if(event.keyCode == 13) {
        var input = document.getElementById("userInput").value;
        alert(input);
        }
});
    </script> -->

    <!-- <script type="text/javascript" src="js/schema_jscript.js"></script> -->
</body>
</html>