<!DOCTYPE html>
<html>
<head>
<title>OOP2 Schema</title>
<style>
    body{background-color: black;}
    #wrapperAll{height: 200px; margin-top: 0.5%; width: 100%;}
    #wrapper{height: 200px; margin-top: 0.5%; width: 100%;}
    #wrapper2{height: 25px; margin-top: 0.5%; width: 100%;}
    #div1{display: inline-block; width: 41%; border-radius: 15px; block-size: 150px; background-color: white; margin-left: 1%; text-align: center; margin-top: 0.4%; background-color: burlywood; position: absolute;}
	@keyframes pulse {
		0% {
			transform: scale(0.97);
		}
		
		70% {
			transform: scale(1);
		}
		
		100% {
			transform: scale(0.97);
		}
	}
    #div2{display: inline-block; width: 15%; border-radius: 15px;  block-size: 150px; background-color: white; margin-left: 0.5%; text-align: center; background-color: burlywood; margin-top: 0.4%; position: absolute; left: 42.5%;}
    #div3{display: inline-block; width: 40.5%; border-radius: 15px; block-size: 150px; background-color: white; margin-left: 0.5%; text-align: center; background-color: burlywood; margin-top: 0.4%; position: absolute; left: 58%;}
    #font{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: burlywood; text-align: center;}
    #lesson1{display: inline-block; width: 41%; border-radius: 15px; block-size: 20px; background-color: black; margin-left: 1%; text-align: center; margin-top: 0.4%;}
    #lunch{display: inline-block; width: 15%; border-radius: 15px;  block-size: 20px; background-color: black; margin-left: 0.5%; text-align: center;}
    #lesson2{display: inline-block; width: 40.5%; border-radius: 15px; block-size: 20px; background-color: black; margin-left: 0.5%; text-align: center;}
    #button1{background-color: transparent; background-repeat: no-repeat; border: none; cursor: pointer; overflow: hidden; outline: none; color: burlywood; font-size: 150%; position: absolute;}
    #button2{background-color: transparent; background-repeat: no-repeat; border: none; cursor: pointer; overflow: hidden; outline: none; color: burlywood; font-size: 150%; position: absolute;}
</style>
</head>
<body>

    <h1 id="font" style="margin-top: 3px" ;>Schema MJU20</h1>
    <!-- <span id='date-time'></span> -->
    <p id="font" style="font-size: 175%;"><%= text4%></p>
    <p id="font" style="font-size: 140%;"><%= text%></p>
    <form action="" method="post">
        <button id="button1" name="left" value="true" style="left: 685px; top: 74px;"><</button>
    </form>
    <form action="" method="post">
        <button id="button2" name="right" value="true" style="left: 885px; top: 74px;">></button>
    </form>
    <!-- <button name="left" value="true">Previous</button>
    <button name="right" value="true">Next</button> -->
    <div style="height: 160px;"></div>
    <div></div>
    <!--Time Blocks-->
    <div id="wrapper2" onshow="">
        <div id="lesson1" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: burlywood; font-size: 150%;"> 09:00 - 12:00</div>
        <div id="lunch" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: burlywood; font-size: 150%;"> 12:00 - 13:00 </div>
        <div id="lesson2" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: burlywood; font-size: 150%;"> 13:00 - 16:30 </div>
    </div>
    <!--Lesson Blocks-->
    <div id="wrapper">
        <div id="div1" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 150%;"> <%= text2%>
            <textarea placeholder="..." style="position: absolute; top: 20%; width: 95%; left: 2%; height: 70%; background-color: burlywood; border: none; resize: none;">
                <%= text5%>
            </textarea>
        </div>
        <div id="div2" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 150%;"> Lunch 
            
        </div>
        <div id="div3" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 150%;"> <%= text3%>
            
        </div>
    </div>
    <form name="form1" action="" method="post" id="userInput" style="width: 600px;" >
        <label for="comment1">Kommentar</label>
        <input type="text" id="comment1" name="commentInput">
    </form>

    <!--https://stackoverflow.com/questions/28603658/can-a-js-script-get-a-variable-written-in-a-ejs-context-page-within-the-same-fil-->

    <h2 style="display:none;" id="uid"><%=text4 %></h2>
    <script type="text/javascript">
            var dateShowing = document.getElementById('uid').innerHTML; 
            // alert(x);  // now JS variable 'x' has the uid that's passed from the node backend.
            addGreenBorder();
            function addGreenBorder() {
                var today = new Date();
                if(dateShowing == today.toLocaleDateString()){
                    var time = today.getHours();
                    var timemin = today.getMinutes();
                    var hourandmin = time * 100 + timemin;
                    var element1 = document.getElementById('div1');
                    var element2 = document.getElementById('div2');
                    var element3 = document.getElementById('div3');
                    if (time >= 9 && time < 12) {
                        //make greenborder on div1
                        element1.style.border = "6px solid green";
                        //make normal border colour on div2 and div3
                        element2.style.border = "0px dotted red";
                        element3.style.border = "0px dotted red";
                    }
                    else if (time >= 12 && time < 13) {
                        //make greenborder on div2
                        element2.style.border = "6px solid green";
                        //make normal border color on div1 and div3
                        element1.style.border = "0px dotted red";
                        element3.style.border = "0px dotted red";
                    }
                    else if (time >= 13 && hourandmin <= 1630) {
                        //make greenborder on div3
                        element3.style.border = "6px solid green";
                        //make normal border colour on div1 och div2
                        element2.style.border = "0px dotted red";
                        element1.style.border = "0px dotted red";
                    }
                    else {
                        //make all normal borders
                        element1.style.border = "0px dotted red";
                        element2.style.border = "0px dotted red";
                        element3.style.borde = "0px dotted red";
                        //alternativt ta bort alla divs och skriv bara ut när nästa lektion börjar
                    }
                }
                
                
            }
    </script>
    <script>
        document.addEventListener('keydown', function(event) {
    if(event.keyCode == 37) {
        document.getElementById("button1").click();
    }
    else if(event.keyCode == 39) {
        document.getElementById("button2").click();
    }
});
    </script>

    <!-- <script>
    document.addEventListener('keydown', function(event) {
        if(event.keyCode == 13) {
        var input = document.getElementById("userInput").value;
        alert(input);
        }
});
    </script> -->

    <!-- <script type="text/javascript" src="js/schema_jscript.js"></script> -->
</body>
</html>