<!DOCTYPE html>
<html>
<head>
<style>
    body {
background-image: url("img/background_forest_gray.jfif");
}
</style>
<link rel="stylesheet" href="css/newweek.css">
</head>
<body>
	<h1>vecka <%= weekOut%></h1>

    <form action="" method="post">
        <button id="button1" name="left" value="true"><</button>
    </form>
    <form action="" method="post">
        <button id="button2" name="right" value="true">></button>
    </form>

    <br>
    <br>
    <br>
	<table border="1" cellspacing="0" align="center">
		<!--<caption>Timetable</caption>-->
		<tr>
			<td align="center" height="80"
				width="100"><br>
				<b>Day/Period</b></br>
			</td>
			<td align="center" height="80"
				width="350">
				<b>09:00 - 12:00</b>
			</td>
            <td rowspan="6" align="center" height="80" width="85">
                <h2>L<br>U<br>N<br>C<br>H</h2>
            </td>
            <td align="center" height="80"
				width="350">
				<b>13:00 - 16:30</b>
			</td>
            <td align="center" height="80"
				width="100">
				<b>Lokal</b>
			</td>
            <tr>
                <td align="center" height="80">
                    <b>Måndag</b>
                </td>
                <td colspan="1" align="center" 
                    height="80"><%= amMonOut%>
                </td>
                <td align="center" height="80">
                  <%= pmMonOut%>
                </td>
                <td align="center" height="80" width="85">
                    <b><%= locMonOut%></b>
                </td>
                
            </tr>

            <tr>
                <td align="center" height="80">
                    <b>Tisdag</b>
                </td>
                <td colspan="1" align="center" 
                    height="80"><%= amTueOut%>
                </td>
                <td align="center" height="80">
                  <%= pmTueOut%>
                </td>
                <td align="center" height="80" width="85">
                    <b><%= locTueOut%></b>
                </td>
            </tr>

            <tr>
                <td align="center" height="80">
                    <b>Onsdag</b>
                </td>
                <td colspan="1" align="center" 
                    height="80"><%= amWedOut%>
                </td>
                <td align="center" height="80">
                  <%= pmWedOut%>
                </td>
                <td align="center" height="80" width="85">
                    <b><%= locWedOut%></b>
                </td>   
            </tr>

            <tr>
                <td align="center" height="80">
                    <b>Torsdag</b>
                </td>
                <td colspan="1" align="center" 
                    height="80"><%= amThuOut%>
                </td>
                <td align="center" height="80">
                  <%= pmThuOut%>
                </td>
                <td align="center" height="80" width="85">
                    <b><%= locThuOut%></b>
                </td>
            </tr>

            <tr>
                <td align="center" height="80">
                    <b>Fredag</b>
                </td>
                <td colspan="1" align="center" 
                    height="80"><%= amFriOut%>
                </td>
                <td align="center" height="80">
                  <%= pmFriOut%>
                </td>
                <td align="center" height="80" width="85">
                    <b><%= locFriOut%></b>
                </td>
            </tr>
           
			
			
	</table>
    <script>
        document.addEventListener('keydown', function(event) {
    if(event.keyCode == 37) {
        document.getElementById("button1").click();
    }
    else if(event.keyCode == 39) {
        document.getElementById("button2").click();
    }
    });
    </script>

    <!--Sidenav w/ script-->
    <div style="width: 2.5%; position: absolute; top: 2.5%;">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="http://localhost:3000/login">Logga In</a>
            <a href="http://localhost:3000/register">Registera Konto</a>
            <a href="http://localhost:3000/">Dagsschema</a>
            <a href="http://localhost:3000/vecka">Veckoschema</a>
            <a href="http://localhost:3000/add_schedule">Lägg till schema</a>
          </div>
          <span style="font-size:30px;cursor:pointer; color: burlywood;" onclick="openNav()">&#9776;</span>
        </div>
          
          <script>
          function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
          }
          
          function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
          }
          </script>
</body>

</html>
